@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Baloo Tamma 2", cursive;
}

.container {
  margin: 20px auto;
  max-width: 500px;
  min-height: 300px;
  border: solid 2px black;
  padding: 20px;
  overflow: auto;
  border-radius: 8px;
  background-color: darkgray;
}
.container div {
  padding: 20px;
}

header {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer {
  margin-top: 100px;
  margin-bottom: 10px;
  text-align: center;
}
.card-space {
  position: relative;
  margin-top: 10px;
}

.span-ele {
  position: absolute;
  right: 3%;
}
